/**
 * Custom styling for the Administration menu.
 */

#admin-menu-site-switcher li.admin-menu-toolbar-category {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}
#admin-menu .dropdown li li.separated {
  border-top: 1px solid #444;
}
#admin-menu-site-switcher li.admin-menu-toolbar-category > a {
  font-weight: bold;
}
